
// breakpoints variables
$width-sm  : 480px;
$width-md  : 768px;
$width-lg  : 960px;
$width-xl  : 1200px;

// color variables
$primary   : #37474f;
$secondary : #26A69A;
$warning   : #e53935;
$dark-7    : #777;
$light-e   : #eee;
$light-fa  : #fafafa;
$grey-42   : #424242;

